
/*******FONTS*******/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
    font-family: SCGumKids;
    src: url(media/sc_gum_kids/SC_Gum_Kids.ttf);
}

/*******COLORS*******/
.blue {
  background-color: #05B1BF;
}

.blue-text{
  color: #05B1BF;
}

.green {
  background-color: #82C458;
}

.white {
  background-color: #FFFFFF;
}

.white-text {
  color: #FFFFFF;
}

.pink {
  background-color: #ED3C84;
}


/*******MAIN CONTENT*******/
a:hover{
  text-decoration: none;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

p {
  line-height: 3em;
}

h1, h2, h3 {
  font-family: SCGumKids;
  letter-spacing: 0.2em;
}

.tall-div {
  padding: 150px 0px;
}

.mid-div {
  padding: 100px 0px;
  border: 2px solid white;
  transition: 1s;
}

.mid-div:hover {
  z-index: 1;
  background-color:#82C458;
}

.small-div {
  padding: 10px 0px;
}

.icon{
  margin-bottom: 20px;
}

/*******SHADOWS*******/
.shadow {
    box-shadow: 0px 0px 20px #000000;
    z-index: 2;
}

/******NAVIGATION*******/
.navbar{
  height: 100px;
}

.nav-item{
  margin-right:20px;
  text-transform: uppercase;
  font-weight: 400;
}

.nav-link{
transition: .5s;
}

.nav-link:hover{
color: #ED3C84 !important;
}

/******BUTTONS*******/
.btn-primary{
  background-color: #ED629A;
  border: none;
}

.btn-primary:hover{
  background-color: #ED3C84;
}

.btn-secondary {
  background-color: #4EBAC3;
  color: white;
  border: none;
}

.btn-secondary:hover {
  background-color: #05B1BF;
  color:white;
}

/******Progress Bars******/
.progress {
  padding: 0px;
  background-color: transparent;
}


/******JUMBOTRON******/
  .jumbotron {
    background: #000 url("media/girl-doing-dish.jpg");
    height: 500px;
    width: 100%;
    margin-bottom: 0px;
}


/******FOOTER******/
#footer{
  height:200px;
  padding: 100px 0px;
}
